body {

    background-color: #06799F;

}

#Logo {

    float:right;
    margin-right: -1%;
}
#Meny {
    background-color: #62B1D0;
    height: 70px;
    width: 102%;
    margin-left: -1%;
    border-style:solid;


}
#Hem {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Uppgift {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Inlamningsmapp {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Schema {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Hittahit {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#menytext {
    margin-left: 10%;
}

#mapp {
    float:left;
    margin-top: -1%;
    background-color:#61B4CF;
    border-radius:20px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

.myButton:active {
    position:relative;
    top:1px;
}


}
#mapptext {
    float:left;


}
#pekare {
    float:left;
    margin-top:-2%;

}
#mapptext1 {
    float:left;
    margin-top:3%;
    margin-right: 5%;

}
#mapp1 {
    float:right;
    margin-top: 1%;
    margin-right:86%;
    background-color:#61B4CF;
    border-radius:20px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

.myButton:active {
    position:relative;
    top:1px;
}



}
#pekare1 {
    float:left;
    margin-top: -5%;
    margin-left: 15.5%;



}
#Subject {
    float:left;

    margin-left: 2%;
    font-size: 30px;

}