body {



}

#Logo {

    float:right;
    margin-right: -1%;
}
#Meny {
    background-color: darkgrey;
    height: 70px;
    width: 102%;
    margin-left: -1%;
    border-style:solid;


}
#Hem {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Uppgift {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Inlamningsmapp {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Schema {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#menytext {
    margin-left: 10%;
}

#mapp {
    float:left;
    margin-top: 1.25%;
    font-size: 25px;

}
#mapptext {
    float:left;

}
#pekare {
    float:left;
    margin-top:-2%;

}
#mapptext1 {
    float:left;

}
#mapp1 {
    float:right;
    margin-top: 1%;
    font-size: 25px;
    margin-right:84.7%;


}
#pekare1 {
    float:left;
    margin-top: -5%;
    margin-left: 15.5%;



}
#Subject {
    float:left;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 30px;

}