body {
    background-color: #06799F;


}

#Logo {

    float:right;
    margin-right: -1%;
}
#Meny {
    background-color: #62B1D0;
    height: 70px;
    width: 102%;
    margin-left: -1%;
    border-style:solid;


}
#Hem {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Uppgift {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Inlamningsmapp {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Schema {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#menytext {
    margin-left: 10%;
}
#Schemaborder {
 border:solid;
    height: 500px;
    width: 76.5%;
    float:left;


}
#vecka {
    float:left;
    margin-top: 1.5%;
    margin-left: 2%;
    font-size: 40px;

}
#Schemameny {
    background-color: #61B4CF;
    width:100%;
    height: 10%;

}
#Klass {
    float:left;
    margin-top: 1.5%;
    margin-left:2%;
    font-size: 40px;

}
#Year {
    float:left;
    margin-top: 1.5%;
    margin-left:2%;
    font-size: 40px;

}
#Schematext {
    float:left;
    margin-top: 1.5%;
    margin-left:10%;
    font-size: 30px;

}

th,td {

    text-align: center;
    border-collapse: collapse;
    outline: 1px solid #e3e3e3;
    padding: 5px 10px;
    background-color: #61B4CF;
}



th {
    background: #666;
    color: white;
    padding: 5px 10px;
}

td:hover {
    cursor: pointer;
    background: #666;
    color: white;
}
#Schematable {
    height:90%;
    float:left;
    margin-top:-3%;
}