body {

background-color: #06799F;


}

#Logo {

    float:right;
    margin-right: -1%;
}
#Meny {
    background-color: #62B1D0;
    height: 70px;
    width: 102%;
    margin-left: -1%;
    border-style:solid;


}
#Hem {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Uppgift {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Inlamningsmapp {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Schema {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Hittahit {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#menytext {
    margin-left: 10%;


}
#Nyheter {
  float:left;


}




#Nyhettext1 {
    width: 70%;
    border:solid;
    float:left;
    margin-left:1%;
    margin-top: 1%;
    background-color: #61B4CF;



}




#Nyhettext2 {
    width: 70%;
    border:solid;
    float:left;
    margin-left:1%;
    margin-top: 5%;
    background-color: #61B4CF;



}