body {




}

#Logo {
   
    float:right;
    margin-right: -1%;
}
#Meny {
    background-color: darkgrey;
    height: 70px;
    width: 102%;
    margin-left: -1%;
    border-style:solid;


}
#Hem {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Uppgift {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Inlamningsmapp {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Schema {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#menytext {
    margin-left: 10%;


}
#Nyheter {
  float:left;


}
#Nyhetrubrik1 {
    float:left;
    margin-top: 7.5%;
    margin-left:-8%;
    width:20%;


}
#Nyhettext1 {
    width: 70%;
    border:solid;
    float:left;
    margin-left:-22%;
    margin-top: 13.5%;



}
#Nyhetrubrik2 {
    float:left;
    margin-top: 25%;
    margin-left:-68.5%;
    width:20%;


}
#Nyhettext2 {
    width: 70%;
    border:solid;
    float:left;
    margin-left:-22%;
    margin-top: 10%;



}