body {
   background-color:lightblue;




}

#Logo {

    float:right;
    margin-right: -1%;
}
#Meny {
    background-color: darkgrey;
    height: 70px;
    width: 102%;
    margin-left: -1%;
    border-style:solid;


}
#Hem {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Uppgift {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Inlamningsmapp {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#Schema {
    float:left;
    margin-top: 2%;
    margin-left: 5%;

}
#menytext {
    margin-left: 10%;
}
#Engelska {
    Float:left;
    margin-left:5%;


}
#Idrott {
    Float:left;
    margin-left:5%;

}
#Teknik {
    Float:left;
    margin-left:5%;

}
#Svenska {
    Float:left;
    margin-left:5%;

}
#Mattematik {
    Float:left;
    margin-left:5%;

}
#subject1 {
    float:left;
    margin-left: 5%;



}
#subject2 {
    float:left;
    margin-left: 4%;


}
#subject3 {
    float:left;
    margin-left: 5%;


}
#subject4 {
    float:left;
    margin-left: 5%;


}
#subject5 {
    float:left;
    margin-left: 3%;






}
#beskrivning1 {
    float:left;
    margin-left: 6%;
    border:solid;
    width: 8%;
}
#beskrivning2 {
    float:left;
    margin-left: 5%;
    border:solid;
    width: 8%;
}
#beskrivning3 {
    float:left;
    margin-left: 7%;
    border:solid;
    width: 8%;
}
#beskrivning4 {
    float:left;
    margin-left: 7%;
    border:solid;
    width: 8%;
}
#beskrivning5 {
    float:left;
    margin-left: 5%;
    border:solid;
    width: 8%;
}